<div class="container">
  <!-- your navs bound to the current route -->
  <ul ngbNav [activeId]="(activePage$ | async)?.fragment" class="nav-tabs navbar-primary">
    @for (link of links; track link) {
      <li [ngbNavItem]="link.fragment">
        <a ngbNavLink [routerLink]="link.fragment">{{ link.title }}</a>
      </li>
    }
  </ul>

  @if (activePage$ | async; as page) {
    <h1>{{ page.heading }}</h1>
    <p class="page-overview">{{ page.overview }}</p>
  }
  <router-outlet></router-outlet>
</div>
